@import '../../styles/resetters.module.scss';

.year_list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    gap: 2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 20px;
}

.year_item {
    @extend %button-reset;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 5em;
    padding: 0.5rem 0rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
    font-weight: 400 !important;

    &:hover {
        color: #eee;
        transform: scale(1.1);
    }

    &__active {
        color: #eee;
        transform: scale(1.1);
    }
    
    &__inactive {
        color: #aaa;
        opacity: 0.5;
    }
}